html,
body,
#app {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #F2F2F6 !important;
  color: black;
  -webkit-text-size-adjust: 100%;
}

.dib {
  display: inline-block;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.por {
  position: relative;
}

.pf {
  position: fixed;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.vb {
  vertical-align: bottom;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ws-nowrap {
  white-space: nowrap;
}

.curp {
  cursor: pointer;
}

/*iconfont初始大小*/

.iconfont {
  font-size: 16px;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.c5 {
  color: #555555 !important;
}

.c4 {
  color: #40A9FF !important;
}

.c8 {
  color: #888 !important;
}

::-webkit-input-placeholder {
  color: #878D99;
}

:-moz-placeholder {
  color: #878D99;
}

::-moz-placeholder {
  color: #878D99;
}

:-ms-input-placeholder {
  color: #878D99;
}

.c1 {
  color: #409EFF !important;
}

.bg1 {
  background-color: #409EFF !important;
}

.tip {
  padding: 5px 0;
}

/* 剩余滚动条样式 */

::-webkit-scrollbar-track-piece {
  width: 2px;
  background-color: rgba(255, 255, 255, 1) !important;
}

/* 整体样式 */

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

/* 滑块部分 */

::-webkit-scrollbar-thumb {
  height: 20px;
  background: #e9e9e9;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e9e9e9;
}

.mainPage {
  height: calc(100% - 60px);
  width: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: auto;
}
